<div class="jumbotron">
  <h1 class="display-4">Kontenübersicht</h1>
  <p class="lead">Hier sind alle Deine Konten aufgelistet.</p>
  <hr class="my-4">
  <p>Klicke auf ein Konto, um zur Detailansicht zu gelangen </p>
  <% @accounts.each do |account| %>
    <%= link_to account.account_name, account_path(account), class: 'btn btn-primary' %>
  <% end %>
</div>
